.storage {

  &__status {
    margin-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    &__label {
      font-family: $titleFont;
      font-size: em(30);
      display: flex;
      align-items: center;
      span {
        font-weight: 600;
        color: #000;
      }
      a {
        font-weight: 600;
        color: #333333;
        font-size: 15px;
        margin-left: 15px;
        margin-top: 5px;
        text-transform: uppercase;
        letter-spacing: 0.03em;
      }
    }
    &__bar {
      position: relative;
      width:100%;
      height: 12px;
      background-color: #fff;
      border-radius: 7px;
      overflow: hidden;
      margin-top: 15px;
      span {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 0%;
        border-radius: 7px;
        background-color: $secondColor;
        transition: width 0.6s ease-in-out;
      }
    }
  }

  &-files {
    width: 100%;
    &__nav {
      margin-bottom: -10px;
      ul {
        li{
          font-size: em(25);
          font-weight: 700;
          opacity: 0.5;
          position: relative;
          padding-left: 20px;
          display: inline-block;
          a {
            color: $mainFontColor;
          }
          &::after {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: -15px;
            height: 35px;
            content: url('~@/assets/images/icons/dashboard/left_small.svg')
          }
          &:last-child {
            opacity: 1;
            &:after {
              display: none;
            }
          }
        }
      }
    }
    &__table {
      width: 100%;
      border-collapse: separate;  
      border-spacing: 0px 20px;
      th {
        font-size: em(20);
        text-align: left; 
        input[type=checkbox] {
          display: block;
          margin-top: 18px;
        }
        &:last-child {
          padding:15px;
        }
        &:first-child {
          padding:0 15px 5px 15px;
          padding-top: 0;
        }
      }
      td {
        &:last-child {
          border-top-right-radius: 10px;
          border-bottom-right-radius: 10px;
          padding: 15px;
        }
        &:first-child {
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px;
          padding: 15px;
        }
      }
    }
    &__item {
      font-size: em(14);
      background-color: rgba(255, 255, 255, 0.5);
      border-radius: 10px;
      transition: background-color 0.2s ease-in-out;
      &:hover {
        background-color: rgba(255, 255, 255, 1);
        .storage-files__item__actions {
          opacity: 1;
        }
      }
      &--new {
        background-color: rgba(255, 255, 255, 1);
        td {
          cursor: default!important;
        }
      }
      td {
        position: relative;
        padding: 15px 0;
        text-align: left; 
        vertical-align: middle;
        font-weight: 500;
        cursor: pointer;
        img {
          vertical-align: middle;
          padding-right: 15px;
          height: 20px;
        }
        input[type=text] {
          position: absolute;
          left: 45px;
          top: 50%;
          transform: translateY(-50%);
          border: none;
          background: #F2F2F2;
          outline: none;
          font-size: em(18);
          padding: 5px 10px;
          width: 100%;
          max-width: 250px;
        }
      }
      &__actions {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        opacity: 0;
        transition: all 0.4s ease;
        a {
          &:hover {

          }
        }
        img {
          height: 20px;
        }
      }
    }
  }

}