.users .grid-container {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

.users .grid-items-wrapper {
    display: contents;
}

// .grid-header-item, .grid-item {
//     padding: 20px;
// }

.users .grid-header-item {
  font-weight: 700;
  padding: 10px 20px 10px 20px;
}

.users .grid-item {
  padding: 20px;
}

.users .grid-line {
  grid-column: 1/6;
  height: 1px !important;
  width: 100%;
  background: $labelColor;
}

.users .btn-add-user {
  background: transparent;
}

// .add-user-form {
//   max-width: 600px;
// }

.add-user-form input {
  max-width: 600px;
}

.add-user-form select {
  max-width: 300px;
}

.add-user-form > .checkbox-group > label {
  color: $secondColor;
}

input[type="checkbox"] {
    -ms-transform: scale(1.3); /* IE */
    -moz-transform: scale(1.3); /* FF */
    -webkit-transform: scale(1.3); /* Safari and Chrome */
    -o-transform: scale(1.3); /* Opera */
    transform: scale(1.3);
    padding: 10px;
}

.checkbox-group {
    display: flex;
    align-items: center;
}