.analytics {
  &__group {

  }

  &__types {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
    &__item {
      $item: &;
      position: relative;
      color: $darkColor;
      width: 225px;
      height: 145px;
      flex: 0 0 auto;
      border-radius: 10px;
      border: 1px solid $darkColor;
      padding: 15px;
      display: flex;
      flex-wrap: wrap;
      background: #fff;
      margin-right: 25px;
      overflow: hidden;
      transition: border 0.4s ease;
      h5 {
        font-size: em(14);
        font-weight: 700;
        margin-top: 10px;
      }

      &__upper {
        display: block;
        width: 100%;
        height: 100%;;
        img {
          height: calc(100% - 20px);
          filter: grayscale(1);
          opacity: 0.5;
          width: 100%;
          transition: all 0.4s ease;
          margin:0 auto;
          display: block;
        }
      }

      &:hover, &.active {
        border-color: $secondColor;
        #{$item}__upper {
          img {
            height: calc(100% - 50px);
            filter: grayscale(0);
            opacity: 1;
          }
        }
        #{$item}__desc { 
          transform: translateY(-20px);  
        }
      }

      &__desc {
        font-size: em(12);
        color: $labelColor;
        transition: transform 0.4s ease;
        transform: translateY(150%);
      }
    }
  }
}