.btn {
    outline: none;
    border: none;
    box-shadow: none;

    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }

    &--outlineblue {
        font-size: em(15);
        padding: 7px 25px 6px;
        text-transform: uppercase;
        border-radius: 25px;
        letter-spacing: 0.08em;
        font-weight: 500;
        border: 2px solid $secondColor;
        min-width: 100px;
        display: inline-block;
        text-align: center;
        transition: all 0.2s ease;
        color: $secondColor;
        span {
            font-weight: 500;
        }
        &:hover {
            background: $secondColor;
            color: #fff;
        }
    }
    &--outlinedark {
        font-size: em(15);
        padding: 7px 25px 6px;
        text-transform: uppercase;
        border-radius: 25px;
        letter-spacing: 0.08em;
        font-weight: 500;
        border: 2px solid $darkColor;
        min-width: 100px;
        display: inline-block;
        text-align: center;
        transition: all 0.2s ease;
        color: $darkColor;
        span {
            font-weight: 500;
        }
        &:hover {
            background: $darkColor;
            color: #fff;
        }
    }
    &--std {
        font-size: em(15);
        padding: 10px 25px 10px;
        text-transform: uppercase;
        border-radius: 25px;
        letter-spacing: 0.08em;
        font-weight: 500;
        outline: none;
        box-shadow: none;
        border: none;
        text-decoration: none !important;
        transition: all 0.4s ease;
        span {
            font-weight: 500;
        }
    }

    &--blue {
        color: #fff !important;
        background: $secondColor;
    }

    &--dark {
        color: #fff;
        background: $darkColor;
        &:hover {
            background: $secondColor;
        }
    }
    &--teal {
        color: $secondColor;
        background: $mainColor;
        &:hover {
            background: #fff;
        }
    }
    &--white {
        background: #fff;
        color: $darkColor;
        &:hover {
            background: $darkColor;
            color: #fff;
        }
    }
    &--trans {
        color:$secondColor;
        border-color:$secondColor;
        border:2px solid $secondColor;
        &:hover {
            background-color:$secondColor;
            color:#fff;
        }
    }

    &--checkbox-type {
        border: solid 1px $darkColor;
        border-radius: 5px;
        color: $darkColor;
        padding: 5px 10px;
        margin-right: 10px;
        font-size: em(16);
        font-weight: 500;
        cursor: pointer;
        &:last-child {
            margin-right: 0;
        }
        &--selected {
            border: solid 1px $secondColor;
            color: $secondColor;
        }
    }

    &--filter-shortcut {
        border: solid 1px $darkColor;
        border-radius: 5px;
        display: flex;
        align-items: center;
        color: $darkColor;
        background: $lightBgColor;
        padding: 8px 13px;
        margin-right: 10px;
        font-size: em(16);
        font-weight: 500;
        cursor: pointer;

        svg {
            margin-right: 7px;
        }
    }
}
