.contact-page {
    background: $lightBgColor;
    &__top {
        text-align: center;

        h1 {
            margin: .8em 0;
        }

        p {
            margin-bottom: 2em;
        }
    }
    &__form {
        background: transparent;
        border-radius: 0;
    }
    &__accept-terms {
        a {
            color: $secondColor;
        }
        input {
            accent-color: $secondColor;
        }
        .form-group-checkbox {
            flex-direction: column;
            > div {
                display: flex;
            }
        }
        &__errors {
            color: red;
            font-size: 0.78em;
        }
    }
    &__btn-container {
        display: flex;
        justify-content: center;
    }
    &__footer {
        background: #ededed;
        padding: 2em 0;

        p {
            margin: 0 4em;
            font-size: 0.88em;
            font-weight: 400;
            letter-spacing: 0.03em;
            line-height: 2em;
            color: $darkColor;
            text-align: center;
            a {
                color: $darkColor;
                font-weight: 800;
            }
        }
    }
}
