.create-private-ogc {
    .page {
        &__inner {
            padding-top: 0;
        }
    }

    .dashboard {
        &__form {
            &__nav {
                .completed {
                    color: $darkColor;
                }
            }
            &__step {
                margin-left: 20px;
            }
        }
    }

    .service-options {
        display: flex;
        gap: 1em;
        margin-top: 1em;

        &__card {
            border: solid 2px $darkColor;
            border-radius: 14px;
            padding: 1em;
            cursor: pointer;
            transition: all ease-in .05s;

            h2 {
                font-size: 1.3em;
            }

            &--active {
                border-color: $secondColor;
                background: $secondColor;
                h2, p {
                    color: #fff;
                };
            }
        }
    }

    .step1 {
        .errors {
            margin-top: 2em;
        }
    }

    .step3 {
        max-width: 100%;

        .cost {
            margin: 1.4em 0 .4em 0;
            color: $secondColor;
            display: flex;
            align-items: flex-start;
            span {
                line-height: 80%;
                font-weight: 600;
            }
            span:nth-child(1) {
                font-size: 1.4em;
            }
            span:nth-child(2) {
                font-size: .8em;
            }
        }
    }

    .step4 {
        max-width: 100%;

        .service-details {
            &__table {
                display: grid;
                grid-template-columns: min-content auto;
                gap: .8em 5em;

                hr {
                    margin: .5em 0 !important;
                }

                span {
                    font-size: .8em;
                    color: $labelColor;
                }

                span:nth-child(odd) {
                    white-space: nowrap;
                    font-weight: 600;
                }
            }
        }

        .form-group-checkbox {
            display: flex;
            align-items: center;
            margin: .4em 0;

            label {
                margin: 0 0 0 1em;
            }

            a {
                color: $darkColor;
                text-decoration: underline;
            }
        }
    }

    .is-created {
        height: 100%;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

        .dashboard__form__step__title {
            margin-bottom: 0;
        }

        h2 {
            line-height: 80%;
        }

        p {
            margin: 1.7em 0;
        }
    }
}
