.eo_explorer_page {
  background: $lightBgColor;
  padding-top: $header_height;
  height: 100vh;
  
  >.container-fluid {
    height: 100%;
    padding: 0;

    >.row {
      height: 100%;
      margin: 0;

      div:nth-child(2) {
        padding-right: 0;
      }

      >div:nth-child(1) {
        height: 100%;
        overflow-y: scroll;
      }
    }
  }

  #eo-map {
    height: 100%;
    width: 100%;
  }

  .back_btn_container {
    display: flex;
    align-items: center;
    color: $darkColor;
    margin: 20px 0;
    font-weight: 500;
    font-size: em(16);
    img {
      display: block;
      margin-right: 10px;
      width: 8px;
    }
  }
}