.homepage {
  background: #f2f2f2;
  &__hero {
    position: relative;
    height: 550px;
    width: 100%;
    background: $gradient_main;
    padding: 0 15px;
    padding-top: $header_height;
    z-index: 10;
    @media (max-width: 576px) {
      height: unset;
    }
    &__content {
      position: relative;
      z-index: 1;
      max-width: 1000px;
      margin: 0 auto;
      width: 100%;
      height: 100%;
      padding: 50px 15px;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;

      &__title {
        color: #fff;
        font-family: $titleFont;
        font-weight: 700;
        @include fluid-type(30px, 45px);
        span {
          color: $mainColor;
        }
      }
      h2 {
        font-size: em(20);
        margin-bottom: 80px;
        display: block;
        font-weight: 400;
        color: #fff;
      }
      &__filter_shortcuts {
        width: 100%;
        display: flex;
        justify-content: space-between;
        p {
          display: flex;
          align-items: center;
          margin-right: 20px;
        }
        div:first-child {
          display: inline-flex;
        }
        a {
          display: flex;
          align-items: center;
        }
      }
      &__text {
        margin-top: 60px;
        width: 100%;
        // max-width: 400px;
        @media (max-width: 576px) {
          margin-top: 80px;
        }
        p {
          color: #fff;
          font-weight: 500;
          line-height: 1.4em;
        }
      }
      .asset_search {
        position: absolute;
        top: 190px;
        @media (max-width: 576px) {
          top: 160px;
        }
      }
    }
  }
  &__big_blocks {
    padding: 80px 0;
    @media (max-width: 576px) {
      padding: 60px 0;
    }
    &__inner {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      @media (max-width: 576px) {
        display: block;
      }
    }
    &__title {
      font-size: em(45);
      font-family: $titleFont;
      font-weight: 700;
      width: 100%;
      text-align: center;
      letter-spacing: 0.03em;
      padding-bottom: 70px;
      max-width: 700px;
      line-height: 1.1em;
      margin: 0 auto;
      padding: 0 0 80px 0;
      @media (max-width: 991px) {
        padding: 0 15px 80px 15px;
      }
    }
    &__item {
      text-align: left;
      padding: 0 30px;
      flex: 0 1 25%;
      margin-bottom: 35px;
      @media (max-width: 768px) {
        padding: 0 8px;
      }
      @media (max-width: 576px) {
        padding: 0;
        margin-bottom: 50px;
      }
      &__icon {
        margin-bottom: 30px;
        max-width: 90px;
        max-height: 80px;
      }
      &__content {
        h3 {
          font-family: $titleFont;
          font-weight: 700;
          font-size: em(25);
          margin: 0 0 30px 0;
          letter-spacing: 0.02em;
          line-height: 1.1em;
          @media (max-width: 576px) {
            margin: 20px 0;
            font-size: em(30);
          }
        }
        p {
          text-align: left;
          line-height: 1.5em;
          font-weight: 400;
          font-size: rem(20);
        }
      }
    }
  }
  &__small_blocks {
    padding: 80px 0;
    @media (max-width: 576px) {
      padding: 60px 0;
    }
    &__title {
      font-size: em(45);
      font-family: $titleFont;
      font-weight: 700;
      width: 100%;
      text-align: center;
      letter-spacing: 0.03em;
      padding-bottom: 90px;
      @media (max-width: 768px) {
        padding-bottom: 50px;
      }
    }

    &__inner {
      display: flex;
      justify-content: space-between;
      @media (max-width: 576px) {
        display: block;
      }
    }

    &__item {
      // text-align: center;
      @media (max-width: 768px) {
        text-align: center;
      }
      padding: 0 30px;
      flex: 0 1 25%;
      @media (max-width: 768px) {
        padding: 0 8px;
      }
      @media (max-width: 576px) {
        padding: 0;
        margin-bottom: 50px;
      }
      &__icon {
        max-width: 80px;
        max-height: 80px;
      }
      &__text {
        text-align: left;
        @media (max-width: 768px) {
          text-align: center;
        }
        line-height: 1.5em;
        font-weight: 500;
        margin-top: 20px;
        display: block;
      }
    }
  }

  &__assets {
    margin-top: 40px;
    &__title {
      font-size: em(45);
      font-family: $titleFont;
      font-weight: 700;
      width: 100%;
      text-align: center;
      letter-spacing: 0.03em;
      padding-bottom: 35px;
    }
    &__btn {
      margin-top: 55px;
      width: 100%;
      text-align: center;
    }
  }
  &__video {
    margin: 190px 0 160px 0;
    &__overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 1;
      &.hidden {
        display: none;
      }
    }
    &__button {
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 25px;
      padding: 0;
      border: none;
      background-color: rgba(0, 0, 0, 0.3);
      transition: all 0.5s ease;
      &:hover {
        background-color: rgba(0, 0, 0, 0.6);
        img {
          transform: scale(1.1);
        }
      }
      img {
        transition: all 0.5s ease;
        width: 95px;
        @media (max-width: 991px) {
          width: 35px;
        }
      }
    }
    &__loader {
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 25px;
      padding: 0;
      border: none;
      background-color: rgba(0, 0, 0, 0.3);
      z-index: 10;
      transition: all 0.5s ease;
      &:hover {
        background-color: rgba(0, 0, 0, 0.6);
        svg {
          transform: scale(1.1);
        }
      }
      svg {
        transition: all 0.5s ease;
        width: 95px;
        @media (max-width: 991px) {
          width: 35px;
        }
        animation: spinning 3s linear infinite;
      }
    }
    &__placeholder {
      max-width: 991px;
      width: 100%;
      margin: 0 auto;
      position: relative;
    }
    &__thumbnail {
      border-radius: 25px;
      vertical-align: bottom;
    }
    &__player {
      width: 100%;
      border-radius: 25px;
      vertical-align: bottom;
    }
    &__wrapper {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      z-index: 1;
      overflow: hidden;
      &--hidden {
        z-index: -1;
      }
      iframe {
        border-width: 0;
        height: 100%;
        width: 100%;
        border-radius: 25px;
      }
    }
  }
}

@keyframes spinning {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
