.notebooks {
  
  &__inner {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 20px;
  }
  &__sectiontitle {
    font-size: em(20);
    font-weight: 700;
    margin: 25px;
  }

  &-item {
    flex: 0 1 calc(25% - 20px);
    margin-bottom: 25px;
    background-color: #fff;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    @include ratio(4,4, true);
    @media(max-width: 1600px) {
      flex: 0 1 calc(33.3% - 20px);
    }
    @media(max-width: 1200px) {
      flex: 0 1 calc(50% - 15px);
    }
    @media(max-width: 576px) { 
      flex: 0 1 100%;
    }
    &.active {
      .notebooks-item__inner {
        height: calc(100% - 55px);
        border-color: $secondColor;
      }
      .notebooks-item__view {
        border-color: $secondColor;
      }
    }
    &--empty {
      height: 0;
      opacity: 0;
      overflow: hidden;
    }
    &--inactive {
      .notebooks-item__inner {
        height: 100%!important;
        border-color: #fff!important;
        cursor: not-allowed;
      }
    }
    &__inner {
      display: flex;
      flex-direction: column;
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      padding: 30px;
      background: #fff;
      border: 2px solid #fff;
      border-radius: 20px;
      width: 100%;
      height: 100%;
      transition: all 0.2s ease-in-out;
      @media(max-width: 576px) { 
          padding: 15px;
          border-radius: 10px;
      }
    }

    &__view {
      content: "";
      position: absolute;
      right: 0px;
      bottom: 0;
      width: 100%;
      height: 75px;
      background: $secondColor;
      color: #fff;
      display: flex;
      text-align: center;
      align-items: center;
      border: 2px solid #fff;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      padding-top: 14px;
      transition: all 0.2s ease-in-out;
      cursor: pointer;
      span {
          width: 100%;
          text-align: center;
          font-size: em(15);
          font-weight: 500;
          letter-spacing: 0.03em;
      }
      a {
        color: #fff;
      }
    }

    &__top {
      flex: 1;
      display: flex;
      justify-content: space-between;
    }
    &__title {
      font-size: em(20);
      font-weight: 700;
    }
    &__specs {
      display: flex;
      margin-top: 10px;
      li {
        font-size: em(18);
        font-weight: 700;
        padding-right: 15px;
      }
    }
    &__action {
      color: $secondColor;
      font-size: em(15);
      font-weight: 500;
      cursor: pointer;
      i {
        font-style: normal;
        animation-name: blinkdot;
        animation-duration: 1.4s;
        animation-iteration-count: infinite;
        animation-fill-mode: both;
        padding-left: 2px;
        &:nth-child(2) {
          animation-delay: .2s;
        }
        &:nth-child(3) {
          animation-delay: .4s;
        }
      }
      @keyframes blinkdot {
        0% { opacity: .2; }
        20% { opacity: 1; }
        100% { opacity: .2; }
      }
    }
    &__bottom {
      p {
        font-size: em(18);
        line-height: 1.3em;
      }
      span {
        display: block;;
        color: $secondColor;
        font-size: em(14);
        padding-top: 15px;
      }
      &__error {
        color: rgb(247, 57, 57)!important;
      }
    }
  }
}