.asset_search {
  width: 100%;
  border-radius: 35px;
  overflow: hidden;
  background: #ffffff;
  //   border: 2px solid $secondColor;
  @media (max-width: 576px) {
    border-radius: 26px;
    font-size: 15px;
  }
  &__backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 999;
  }
  &__upper {
    position: relative;
    width: 100%;
    z-index: 999;

    &__input {
      width: 100%;
      padding: 20px 35px;
      display: block;
      border: none;
      outline: none;
      box-shadow: none;
      font-size: em(20);
      @media (max-width: 576px) {
        padding: 15px 25px;
      }
    }

    &__controls {
      position: absolute;
      top: 0;
      height: 100%;
      right: 0;
      width: 445px;
      .open & {
        right: unset;
        left: calc(100% - 35px);
      }
      @media (max-width: 576px) {
        right: unset;
        left: calc(100% - 25px) !important;
      }
      &__inner {
        position: relative;
        width: 100%;
        height: 100%;
        background-color: $mainColor;
        display: flex;
        align-items: center;
        padding: 0 10px 0 40px;
        .open & {
          background: #fff;
        }
        @media (max-width: 576px) {
          background: #fff;
        }
      }
      &__icons {
        position: absolute;
        height: 63px;
        width: 63px;
        background-color: #fff;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        left: 0px;
        top: 50%;
        transform: translate(-50%, -50%);
        // transition: opacity 0.2s ease;
        @media (max-width: 576px) {
          height: 50px;
          width: 50px;
        }
      }
      &__links {
        list-style: none;
        padding: 0;
        display: flex;
        @media (max-width: 576px) {
          display: none;
        }
        li {
          padding: 5px 0;
          position: relative;
          &:after {
            position: absolute;
            right: 0;
            top: 0;
            content: "";
            height: 100%;
            width: 2px;
            border-right: 2px solid $darkColor;
          }
          &:last-child {
            &:after {
              display: none;
            }
          }
          a {
            color: $darkColor;
            padding: 0px 15px;
            font-weight: 500;
          }
        }
      }
    }

    &__icon {
      cursor: pointer;
      width: 42px;
      height: 42px;
      background-color: $mainColor;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        position: relative;
        display: block;
      }
      &--close {
        opacity: 0;
      }
      &--open {
        opacity: 1;
      }
    }

    &.open {
      .asset_search__upper__icon {
        &--close {
          opacity: 1;
        }
        &--open {
          opacity: 0;
        }
      }
    }

    &--sm {
      width: 360px;
      border: 0px;
      .asset_search__upper {
        &__input {
          padding: 10px 25px;
          font-size: em(14);
        }
        &__icon {
          right: 20px;
          img {
            height: 15px;
          }
        }
      }
    }

    &--no-z-index {
      z-index: 0;
    }
  }

  &__resultscont {
    position: relative;
    z-index: 1000;
    display: block;
    text-align: center;
    background: #fff;
    transition: height 0.25s ease;
    &:not(.active) {
      // display: none;
    }

    &__filters {
      width: 100%;
      text-align: left;
      display: flex;
      justify-content: space-evenly;
      border-top: 2px solid $greyColor;
      border-bottom: 2px solid $greyColor;
      li {
        display: inline-block;
        width: 50%;
        text-align: center;
        a {
          display: block;
          padding: 10px 0;
          font-size: em(20);
          font-weight: 700;
          color: $mainFontColor;
          transition: all 0.2s ease;
          &.active {
            background: $mainColor;
            // color: #fff !important;
          }
          &:hover {
            // color: $mainColor;
          }
        }
        &:first-child {
          a {
            border-right: 2px solid $greyColor;
          }
        }
      }
    }

    &__results {
      width: 100%;
      text-align: left;
      max-height: 250px;
      overflow-y: auto;
      li {
        width: 100%;
        &:first-child {
          a {
            padding-top: 15px;
          }
        }
        &.no_results {
          padding: 15px;

          .login_link {
            display: inline;
            padding: 0;
            color: $secondColor;
            background: transparent;
          }
        }
        a {
          display: block;
          width: 100%;
          padding: 10px 15px;
          color: $mainFontColor;
          transition: background 0.2s ease;
          h5 {
            font-weight: 700;
            font-size: em(20);
          }
          span {
            font-size: em(12);
            color: #6c6c6c;
            display: block;
            margin-top: 0px;
          }
          &:hover {
            background: #f2f2f2;
            color: $mainFontColor;
          }
        }
      }
    }

    &__action {
      font-size: em(12);
      color: $mainFontColor;
      display: inline-block;
      padding: 15px 0;
    }
  }
  &--grey-border {
    border: 1px solid $darkColor;
  }
  .cursor-pointer {
    cursor: pointer;
  }
}
