.terms{

  &__inner {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    height: 100%;
    padding: 85px 0;
  }
  &__sidebar{
    width:400px;
    position: sticky;
    top:85px;
    height: 100%;
    padding-right:25px;
    @media(max-width:992px){
      width:100%;
      position: relative;
      top:0;
    }
    &__title{
      @include fluid-type(30px, 45px);
      font-weight: 700;
      margin: 50px 0;
      @media(max-width:992px){
        margin: 20px 0 50px;
      }
      @media(max-width:576px){
        margin: 0px 0 30px;
      }
    }
    &__menu{
      @media(max-width:992px){
        display: none;
      }
      ul{
        li{
          margin-bottom: 5px;
          a{
            font-size: 14px;
            line-height: 17px;
            letter-spacing: 0;
            color:$darkColor;
            &.active{
              font-weight: 500;
              color: $secondColor;
            }
          }
        }
      }
    }
  }

  &__main{
    padding-top: 160px;
    flex:1;
    @media(max-width:992px){
      padding-top: 0px;
    }
    p{
      margin-bottom: 20px;
      font-size: em(16);
    }
    h2{
      font-family: $mainFont;
      font-size: 25px;
      line-height: 30px;
      letter-spacing: 0.3px;
      padding-top: 10px;
      margin-bottom: 20px;
      @media(max-width:576px){
        font-size: em(25);
      }
    }
    h3{
      font-size: em(25);
      margin-bottom: 10px;
      @media(max-width:576px){
        font-size: em(20);
      }
    }
    ul{
      list-style: disc;
      margin-left: 20px;
      li{
        font-size: em(16);
      }
      &.dashed {
        list-style: none;
        margin-left: 0;
        padding-left: 1em;
      }
      &.dashed > li:before {
          display: inline-block;
          content: "-";
          width: 1em;
          margin-left: -1em;
      }
    }
    ol{
      margin-left: 20px;
    }
    &__text {
      font-family: $mainFont;
      font-size: 16px !important;
      line-height: 22px !important;
      letter-spacing: 0.2px !important;
      margin-bottom: 30px;
    }
  }
}